
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="~/fontawesome/css/all.css" rel="stylesheet">--> <!--load all styles -->
    <!-- CSS Boostrap -->
    @*<link rel="styles heet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">*@

    <!-- CSS Bootstrap Datepicker -->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/css/persons.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>

<body>
    <div class="container vertical-center">
        <div class="card justify-content-center">
            <div class="card-header row mt-2 justify-content-center">
                <img class="col-3" src="~/mii-logo.png" width="100" />
                <div class="col-9 text-center">
                    <h3 id="titleform" class="row text-blue">Change Password</h3>
                </div>
            </div>
            <div class="card-body login-card-body">
                <form id="changepassform" asp-controller="Accounts" asp-action="ChangePass" method="post">
                    <div class="input-group mb-3">
                        <input type="email" id="emailreset" name="email" class="form-control" placeholder="Email" value="@ViewData["Email"]" readonly>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="oldpassreset" name="oldpass" class="form-control" placeholder="Old Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="newpassreset" name="newpass" class="form-control" placeholder="New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="conewpassreset" name="conewpass" class="form-control" placeholder="Confirm New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" id="changeButton">Change</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>

@section scripts{
    <script src="~/js/homeAction.js"></script>
    <script src="~/js/dashboard.js"></script>
}