@{
    Layout = (string)ViewData["Layout"] ?? "_LayoutUser";
    ViewData["Title"] = "Manage Leave Request";
}
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="~/fontawesome/css/all.css" rel="stylesheet">--> <!--load all styles -->
    <!-- CSS Boostrap -->
    @*<link rel="styles heet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">*@

    <!-- CSS Bootstrap Datepicker -->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/css/persons.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="container">
        @*<div class="row">*@
            @*<div class="col-12">*@
                @*<h1 id="judul" sstyle="text-align:start;">Manage Leave Request</h1>*@
            @*</div>*@
        @*</div>*@

        <div class="card shadow p-3 mt-3 p-lg-3">
            <h1 class="card-title text-center mb-5" style="font-weight:bold" id="judul" sstyle="text-align:start;">Data Employee</h1>
            
            <table id="table_id" class="display nowrap hover text-center" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Position</th>
                        <th>Total Leave</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            
            <div class="card-footer mt-5">
                <p style="font-weight:bold">Status :</p>
                <div class="row">
                    <div class="col-sm-3">
                        <ol class="ml-4">
                            <li> Active</li>
                            <li> Leave</li>
                        </ol>
                    </div>
                    <div class="col-9">
                        <ul class="mr-5" style="list-style-type: none;">
                            <li> :  Employee at work</li>
                            <li> :  Employee take a leave</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

<script>

    function reloadTable() {
        mt.ajax.reload(function (json) {
            $('#table_id').val(json.lastInput);
        });
    }

    //DATATABLEs
    var mt = $('#table_id').DataTable({
        "columnDefs": [{
            "targets": 0,
            "searchable": false,
            "orderable": false
        }],
        "order": [[1, 'desc']],
        "filter": true,
        "ajax": {
            "url": "/Employee/GetAllEmployee",
            "datatype": "json",
            "dataSrc": ""
        },
        "columns": [
            {
                "data": null,
            },
            {
                "data": "id"
            },
            {
                "data": "name"
            },
            {
                "data": "gender"
            },
            {
                "data": "phone",
                "render": function (data, type, row) {

                    return "+62" + data;
                },
                "autoWidth": true
            },
            {
                "data": "jobId",
                "render": function (data, type, row) {
                    if (data == 1) {
                        return "Accounting Staf"
                    }
                    if (data == 2) {
                        return "Administration Staf"
                    }
                    if (data == 3) {
                        return "Logistic Staf"
                    }
                    if (data == 4) {
                        return "IT Staf"
                    }
                    if (data == 5) {
                        return "Human Resource"
                    }
                    if (data == 6) {
                        return "Project Manager"
                    }
                    if (data == 7) {
                        return "Functional Manager"
                    }
                }
            },
            {
                "data": "totalLeave"
            },
            {
                "data": "statusEmplo",
                "render": function (data, type, row) {
                    if (data == "Active") {
                        return '<span class="badge badge-pill badge-success"> Active </span>';
                    } else if (data == "Leave") {
                        return '<span class="badge badge-pill badge-warning"> Leave </span>';
                    }
                }
            },
            {
                "data": "id",
                "render": function (data, type, row) {

                    return '<button class="btn btn-danger mr-1" onclick="deleted(' + data + ')" id="btnDelete"> Delete </button>';
                },
                "autoWidth": true
            }
        ],
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
        ]
    });

    mt.on('order.dt search.dt', function () {
        mt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();

    function deleted(id) {
        Swal.fire({
            title: 'Do you want to remove this?',
            showCancelButton: true,
            confirmButtonText: 'Yes, i do!',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            console.log(result);
            if (result.isConfirmed) {
                $.ajax({
                    type: "DELETE",
                    url: "/Employee/Deleted/" + id,
                    success: function (result) {
                        reloadTable();
                        Swal.fire({
                            title: "Remove Success!",
                            text: "Data has been removed",
                            icon: "success",
                            button: "Ok"
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: "Oh no...",
                            text: "Removing data unsuccessful ...",
                            icon: "error",
                            button: "OK"
                        });
                    }
                });
            } else if (result.isDismissed) {
                Swal.fire('Remove data canceled!', '', 'info')
            }
        })
    };

</script>