
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <title>Forgot Password</title>
</head>

<div class="container vertical-center">
    <div class="card">
        <div class="card-header row text-center">
            <img class="col-5" src="~/mii-logo.png" />
            <div class="col-7 text-center">
                <h3 id="titleform" class="row text-blue">FORGOT</h3>
                <h2 id="titleform" class="row text-green">PASSWORD</h2>
            </div>

        </div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">Enter your email account below</p>

            <form asp-controller="Accounts" asp-action="Auth" method="post">
                <div class="input-group mb-3">
                    <input type="email" id="email-for-reset" name="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" id="resetButton">Reset</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a asp-controller="Home" asp-action="Index">Back to homepage</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section scripts{
    <script src="~/js/homeAction.js"></script>
}