@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Layout Home -->

<head>
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <!-- Main Layout -->
    <div class="container">
        <div class="row vertical-upper">
            <p id="title">Welcome!</p>
        </div>
        <div class="row vertical-center">
            <div class="col">
                @*<form asp-controller="Home" asp-action="Login" method="get">*@
                <button type="button" class="btn btn-outline-light" id="button-home"
                        data-toggle="modal" data-target="#doLogin">
                    Login
                </button>
                @*</form>*@
            </div>
            <div class="col">
                @*<form asp-controller="Home" asp-action="Register" method="get">*@
                <button type="button" class="btn btn-outline-light" id="button-home"
                        data-toggle="modal" data-target="#insertRegis">
                    Register
                </button>
                @* </form>*@
            </div>
        </div>
    </div>

    <!-- Modal - Form Regis -->
    <div class="modal fade" id="insertRegis" tabindex="-1" role="dialog" aria-labelledby="insertRegisCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center bg-light">
                    <h2 class=" w-100 text-center">FORM REGISTER</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="dataRegis">
                        <form id="contactform" class="was-validated" validate>
                            <!-- Line 1 -->
                            <div class="form-row">
                                <div class="col-4 mb-3">
                                    <label for="inputId">Employee ID</label>
                                    <div class="input-group">
                                        <input type="text" name="nik" class="form-control" id="inputId" placeholder="Employee ID"
                                               aria-describedby="inputGroupPrepend" autocomplete="off" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please type your employee ID.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 mb-3">
                                    <label for="inputName">Name</label>
                                    <input type="text" name="firstname" class="form-control" id="inputName" placeholder="Name" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please type your name.
                                    </div>
                                </div>
                            </div>

                            <!-- Line 2 -->
                            <div class="form-row">
                                <div class="col-md mb-3">
                                    <label for="inputEmail">Email</label>
                                    <div class="input-group">
                                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                                               aria-describedby="inputGroupPrepend" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please type an active email.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label for="inputPassword">Password</label>
                                    <div class="input-group">
                                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"
                                               pattern="^(?=.?[A-Z])(?=.?[a-z])(?=.*?[0-9]).{8,}$" aria-describedby="inputGroupPrepend" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Min 8 char, contain lowercase, uppercase, & number.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label for="inputPhone">Phone</label>
                                    <div class="input-group">
                                        <input type="number" name="phone" class="form-control" id="inputPhone" placeholder="Phone"
                                               aria-describedby="inputGroupPrepend" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please type a phone number.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Line 3 -->
                            <div class="form-row">
                                <div class="col-md mb-3">
                                    <label for="inputGender">Gender</label>
                                    <div class="input-group">

                                        <select id="inputGender" class="custom-select" required>
                                            <option value=0>Male</option>
                                            <option value=1>Female</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert your gender.
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-3">
                                    <label for="inputAddress">Address</label>
                                    <input type="text" name="firstname" class="form-control" id="inputAddress" placeholder="Address" value="" required>
                                    <div class="invalid-feedback">
                                        Please insert your address.
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="col-md mb-3">
                                    <label for="inputReligion">Religion</label>
                                    <div class="input-group">
                                        <select class="custom-select my-1 mr-sm-2" id="inputReligion" placeholder="Religion" required>
                                            <option value=1>Islam</option>
                                            <option value=2>Catholic</option>
                                            <option value=3>Protestant</option>
                                            <option value=4>Hindu</option>
                                            <option value=5>Budha</option>
                                            <option value=6>Confucianism</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select your religion.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Line 4 -->
                            <div class="form-row">
                                <div class="col-md mb-3">
                                    <label for="inputBirthDate">BirthDate</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" data-date-format="yyyy-mm-dd" id="inputBirthDate"
                                               placeholder="Birth Date" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false" required>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert your birthdate.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label for="inputJoinDate">Join Date</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" data-date-format="yyyy-mm-dd" id="inputJoinDate"
                                               placeholder="Birth Date" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false" required>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert join date.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Line 5 -->
                            <div class="form-row">
                                <div class="col-md mb-3">
                                    <label for="inputJob">Position</label>
                                    <div class="input-group">
                                        <select class="custom-select my-1 mr-sm-2" id="inputJob" placeholder="Position" required>
                                            <option value=1>Accounting Staf</option>
                                            <option value=2>Administration Staf</option>
                                            <option value=3>Logistic Staf</option>
                                            <option value=4>IT Staf</option>
                                            <option value=5>Human Resource</option>
                                            <option value=6>Project Manager</option>
                                            <option value=6>Functional Manager</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select your position.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label for="inputSalary">Salary</label>
                                    <div class="input-group">
                                        <input type="number" name="salary" class="form-control" id="inputSalary" placeholder="Salary"
                                               aria-describedby="inputGroupPrepend" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert your salary.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="form-check">
                                    <input class="form-check-input" name="check" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" id="btnSubmit">Submit</button>
                            @*<p class="mb-1 mt-3 float-right">
                                    Already have an account? <a asp-controller="Home" asp-action="Login">Log In Here!</a>
                                </p>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - Login -->  
    <div id="doLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="doLoginCenterTitle" aria-hidden="true">
        <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center bg-light">
                    <h2 class="w-100 modal-title text-center">LOGIN</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="dataLogin">
                        <p class="login-box-msg">Sign in to start your session</p>

                        <form asp-controller="Accounts" asp-action="Auth" method="post">

                            <!-- Email -->
                            <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="input-group mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Login -->
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input class="form-check-input" type="checkbox" id="remember">
                                        <label for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <p class="mb-1">
                            <a asp-controller="Home" asp-action="ForgotPassword">I forgot my password</a>
                        </p>
                        @*<p class="mb-0">
                                <a asp-controller="Home" asp-action="Register" class="text-center">Register a new membership</a>
                            </p>*@
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </div>


    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
</body>

@section scripts{
    <script src="~/js/homeAction.js"></script>
}