
@{
    ViewData["Title"] = "Leave Types";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="~/fontawesome/css/all.css" rel="stylesheet">--> <!--load all styles -->
    <!-- CSS Boostrap -->
    @*<link rel="styles heet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">*@

    <!-- CSS Bootstrap Datepicker -->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/css/persons.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    @*<link rel="stylesheet" href="~/css/home.css">*@
</head>


<div class="row justify-content-center">
    <div class="card col-5 m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://zegal.com/wp-content/uploads/2018/12/leave.jpg" alt="Annual Leave">
        <div class="card-body">
            <h5 class="card-title text-center"><strong>Annual Leave</strong></h5>
            <p class="card-text">Based on Pasal 79 paragraph (3) UU Ketenagakerjaan 13/2003, UU Cipta Kerja 11/2020, a worker is entitled to annual leave of at least 12 working days after the worker/labourer has worked for 12 (twelve) months continuously.</p>
        </div>
    </div>
    <div class="card col-5 m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://convoyavenuecofc.files.wordpress.com/2017/07/marriage.jpg" alt="Marriage Leave">
        <div class="card-body">
            <h5 class="card-title text-center"><strong>Marriage Leave</strong></h5>
            <p class="card-text">The rules regarding marriage leave in Indonesia are regulated by UU no. 13 of 2003. Under this law, employees are entitled to apply for leave of up to 3 working days for their marriage.</p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card col-5 m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/thumbnails/002/311/486/small/pregnant-woman-woman-with-newborn-pregnancy-motherhood-concept-illustration-vector.jpg" alt="Maternity Leave">
        <div class="card-body">
            <h5 class="card-title text-center"><strong>Maternity Leave</strong></h5>
            <p class="card-text">UU no. 13 of 2013, pasal 82 paragraph (1) states that female workers/laborers have the right to rest for 1.5 months before and after giving birth according to the calculations of the obstetrician or midwife. However, the company made adjustments to the calculation of working days so that the applicable maternity leave at the company was 40 working days</p>
        </div>
    </div>
    <div class="card col-5 m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-vector/person-with-cold_23-2148505009.jpg?size=626&ext=jpg" alt="Medical Leave">
        <div class="card-body">
            <h5 class="card-title text-center"><strong>Medical Leave</strong></h5>
            <p class="card-text">Both sick leave and leave due to accidents both inside and outside work assignments so that they require rest and medical treatment can be carried out without restrictions based on a doctor's recommendation supported by a doctor's recommendation letter</p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="card col-5 m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-vector/visit-praying-front-tomb-cemetry-ritual-grave-concept-cartoon-illustration_201904-395.jpg?size=626&ext=jpg" alt="Annual Leave">
        <div class="card-body">
            <h5 class="card-title text-center"><strong>Sudden-Death Leave</strong></h5>
            <p class="card-text">Death leave is leave given to employees to leave work activities when a relative dies. This leave is given for 1 working day</p>
        </div>
    </div>
</div>
