@{
    Layout = (string)ViewData["Layout"] ?? "_LayoutUser";
    ViewData["Title"] = "Manage Leave Request";
}
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="~/fontawesome/css/all.css" rel="stylesheet">--> <!--load all styles -->
    <!-- CSS Boostrap -->
    @*<link rel="styles heet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">*@

    <!-- CSS Bootstrap Datepicker -->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/css/persons.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="container">
        @*<div class="row">*@
            @*<div class="col-12">*@
                @*<h1 id="judul" sstyle="text-align:start;">Manage Leave Request</h1>*@
            @*</div>*@
        @*</div>*@

        <div class="card shadow p-3 mt-3 p-lg-3">
            <h1 class="card-title text-center mb-5" style="font-weight:bold" id="judul" sstyle="text-align:start;">Manage Leave Request</h1>
            <div class="card-body">
                <table id="table_id" class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Req. Date</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Dur.</th>
                            <th>Status</th>
                            <th>Apr. At</th>
                            <th>Act</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            @*<div class="card-footer mt-5">
                <p style="font-weight:bold">Leave types in company:</p>
                <div class="row">
                    <div class="col-sm-3">
                        <ol class="ml-4">
                            <li> Annual Leave</li>
                            <li> Marriage Leave</li>
                            <li> Maternity Leave</li>
                            <li> Medical Leave</li>
                            <li> Sudden-death Leave</li>
                        </ol>
                    </div>
                    <div class="col-9">
                        <ul class="mr-5" style="list-style-type: none;">
                            <li>:  12 days/years, can only be taken after 12 months work for company</li>
                            <li>:  3 days working days</li>
                            <li>:  40 days working days</li>
                            <li>:  Adjust doctor's recommendation</li>
                            <li>:  1 days working days</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>

        <!-- Modal Review-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-content" class="modal-body">
                        <div class="row">
                            <div class="col-4 pl-5 font-weight-bold">

                                <div>Employee ID</div>
                                <div>Name</div>
                                <div>Leave Type</div>
                                <div>Start Date</div>
                                <div>End Date</div>
                                <div>Notes</div>

                            </div>
                            <div class="col-1">
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                            </div>
                            <div class="col-7">
                                <div id="modal-data"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btn_approve">Approve</button>
                        <button type="button" class="btn btn-danger" id="btn_reject">Reject</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Request Form-->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-content" class="modal-body">
                        <form id="contactform" class="needs-validation" novalidate>
                            @*<form method="post" action="" id="contactform" class="was-validated">*@

                            <div class="form-row">
                                <div class="col-4 mb-3">
                                    <label for="inputId">Employee ID</label>
                                </div>
                                <div class="col mb-3">
                                    <div class="input-group">
                                        <input type="text" name="nik" class="form-control" id="inputId" placeholder="Employee ID" aria-describedby="" value="" autocomplete="off" required>
                                        <p class="validation-message" id="invalid-nik"></p>
                                        <div class="invalid-feedback">
                                            Please type your ID.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 mb-3">
                                    <label for="inputLeaveType">Leave Type</label>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="input-group">
                                        <select class="custom-select my-1 mr-sm-2" id="inputLeaveType" placeholder="Leave Type" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select the leave type.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 mb-3">
                                    <label>Date Range</label>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                        </div>
                                        <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="inputStartDate" placeholder="Start Date" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false" required>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert the start date.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                        </div>
                                        <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="inputEndDate" placeholder="End Date" autocomplete="off" autocorrect="off"
                                               autocapitalize="off" spellcheck="false" required>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please insert the end date.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-4 mb-3">
                                    <label for="inputBirthDate">Leave Duration</label>
                                    
                                </div>
                                <div class="col-md mb-3">
                                    <input type="number" class="form-control" id="leaveDuration" placeholder="Leave Duration" autocomplete="off" autocorrect="off"
                                           autocapitalize="off" spellcheck="false" readonly>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="form-check">
                                    <input class="form-check-input" name="univId" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            @*<button id="register" class="btn btn-primary" type="submit">Submit form</button>*@
                            <button class="btn btn-primary" type="submit" id="btnSubmit">Submit form</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

<script>

    //DATATABLEs
    var mt = $('#table_id').DataTable({
        "columnDefs": [{
            "targets": 0,
            "searchable": false,
            "orderable": false
        }],
        "order": [[1, 'desc']],
        "filter": true,
        "ajax": {
            "url": "/leaverequests/getleaverequests/"+ parseInt('@ViewData["Id"]'),
            "datatype": "json",
            "dataSrc": ""
        },
        "columns": [
            { "data": null },
            {
                "data": "requestDate",
                "render": function (data, type, row) {
                    return moment(data).lang("id").format("DD/MM/YY HH:mm")
                }
            },
            {
                "data": "employeeName"
            },
            {
                "data": "leaveTypeName"
            },
            {
                "data": "startDate",
                "render": function (data, type, row) {
                    return moment(data).format("DD/MM/YY")
                }
            },
            {
                "data": "endDate",
                "render": function (data, type, row) {
                    return moment(data).format("DD/MM/YY")
                }
            },
            { "data": "leaveDuration" },
            {
                "data": "statusId",
                "render": function (data, type, row) {
                    if (data == 3) {
                        return '<span class="badge badge-pill badge-danger"> Rejected </span>';
                    } else if (data == 2) {
                        return '<span class="badge badge-pill badge-success"> Accepted </span>';
                    } else if (data == 1) {
                        return '<span class="badge badge-pill badge-warning"> Pending </span>';
                    }
                }
            },
            {
                "data": "approvedDate",
                "render": function (data, type, row) {
                    if (row['statusId'] == 2) {
                        return moment(data).lang("id").format("DD/MM/YY HH:mm");
                    } else {
                        return "-";
                    }
                }
            },
            {
                "data": "id",
                "render": function (data, type, row) {

                    return '<button class="btn btn-primary mr-1" onclick="show(' + data + ')" data-bs-toggle="modal" data-bs-target="#exampleModal"> Review </button>';
                },
                "autoWidth": true
            }
        ],
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5]
                }
            },
        ]
    });

    mt.on('order.dt search.dt', function () {
        mt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();

    function reloadTable() {
        mt.ajax.reload(function (json) {
            $('#table_id').val(json.lastInput);
        });
    }

    function show(id) {
        $.ajax({
            url: "/leaverequests/getbyid/" + id
        }).done((result) => {

            var text = "";
            text += `
            <div>${result.employeeId}</div>
            <div>${result.employeeName}</div>
            <div>${result.leaveTypeName}</div>
            <div>${moment(result.startDate).format("DD/MM/YY")}</div>
            <div>${moment(result.endDate).format("DD/MM/YY")}</div>
            <div>"${result.notes}"</div>
        `
            $("#modal-data").html(text);
            $("#exampleModalLabel").html(result.employeeName + "'s leave request");

            console.log(result.statusId);
            if (result.statusId == 3 || result.statusId == 2) {
                $("#btn_approve").hide();
                $("#btn_reject").hide();
            } else {
                $("#btn_approve").show();
                $("#btn_reject").show();
            }

            $("#btn_approve").unbind().click(function () {
                updateManagerFill(id, 2);

                var datainput = {
                    "EmployeeId": parseInt(result.employeeId),
                    "Status": "Approved",
                    "Approver": result.approverId,
                    "LeaveType": result.leaveTypeName,
                    "StartDate": moment(result.startDate).format("YYYY-MM-DD"),
                    "EndDate": moment(result.endDate).format("YYYY-MM-DD"),
                    "Notes": "Enjoy your leave!"
                }
                sendResponseEmail(datainput);
            });

            $("#btn_reject").unbind().click(function () {
                updateManagerFill(id, 3);

                var datainput = {
                    "EmployeeId": parseInt(result.employeeId),
                    "Status": "Rejected",
                    "Approver": result.approverId,
                    "LeaveType": result.leaveTypeName,
                    "StartDate": moment(result.startDate).format("YYYY-MM-DD"),
                    "EndDate": moment(result.endDate).format("YYYY-MM-DD"),
                    "Notes": "Sorry for the rejection"
                }
                sendResponseEmail(datainput);
            });

        }).fail((result) => {
            console.log(result);
        });
    }

    function sendResponseEmail(datainput) {

        console.log(datainput);
        $.ajax({
            type: "POST",
            url: "/accounts/SendEmailToRequester",
            data: JSON.stringify(datainput),
            traditional: true,
            contentType: 'application/json',
            dataType: "json"
        }).done((result) => {
            console.log(result);

            if (result == 400) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Email not sent!',
                    showConfirmButton: false,
                    timer: 1500
                });

            } else if (result == 200) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Email sent!',
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Email not sent!',
                    showConfirmButton: false,
                    timer: 1500
                });
            }

            console.log("done", result);
        }).fail((result) => {
            console.log(result);
        });
    }

    function updateManagerFill(id,status) {

        $.ajax({
            url: "/leaverequests/getbyid/" + id
        }).done((result) => {

            var mfdata = {
                "id": result.managerFillId,
                "note": result.notes,
                "dateApproved": moment(),
                "leaveRequestId": id,
                "statusId": status
            }

            $.ajax({
                type: "PUT",
                url: "/managerfills/UpdateManagerFill",
                data: JSON.stringify(mfdata),
                traditional: true,
                contentType: 'application/json',
                dataType: "json",

            }).done((result) => {

                if (result == 400) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!'
                    })
                } else if (result == 200) {
                    reloadTable();

                    console.log(result);
                    $('#exampleModal').modal('toggle');

                    Swal.fire(
                        'Done!',
                        'Leave Request Updated!'
                    );

                } else {
                    console.log(result);
                }


            }).fail((result) => {
                console.log(result);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                })
            });

        }).fail((result) => {
            console.log(result);
        });


    };

</script>